<!--partie1-->
<div *ngIf="no_spinner">
<div  class="row">
    <div class="col-md-12">
      //
            

              <div class="mb-3">
                <label for="formFileSm" class="form-label">Faire sélectionner le fichier excel qui présent les données de l'entreprise</label>
                
                <input class="form-control form-control-sm" id="file-upload" type="file" 
                accept=".xls,.xlsx" (change)="fileUpload($event)">
              </div>

        </div>
      </div>
    </div>
  </div>
</div> 

